@charset "UTF-8";
*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: conic-gradient(at 50% 25%, rgba(0, 0, 0, 0) 75%, #f4f4f4 0), conic-gradient(at 50% 25%, rgba(0, 0, 0, 0) 75%, #f4f4f4 0) 18px 18px, conic-gradient(at 50% 25%, rgba(0, 0, 0, 0) 75%, #f4f4f4 0) 36px 36px, conic-gradient(at 50% 25%, rgba(0, 0, 0, 0) 75%, #f4f4f4 0) 54px 54px, repeating-linear-gradient(135deg, #b6b6b6 0 12.5%, #e8e8e8 0 25%);
  background-size: 72px 72px;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  vertical-align: top;
}

html {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

@font-face {
  font-family: "sansb";
  src: url("../fonts/OpenSans-Bold.woff2") format("wofft2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "sansr";
  src: url("../fonts/OpenSans-Regular.woff2") format("wofft2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.page {
  max-width: 1660px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1040px) {
  .page {
    max-width: 968px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 604) {
  .page {
    max-width: 604px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header {
  width: 100%;
  height: 449px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-left: 100px;
  gap: 100px;
  background-image: url("../pics/headerpics/background.avif"), url("../pics/headerpics/background.webp"), url("../pics/headerpics/background.png");
  background-size: cover;
  background-position: center;
}
.header__burgercontainer {
  width: 100%;
  max-height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 530px;
  z-index: 1;
  left: 100px;
  position: relative;
}
.header__burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.header__burger-icon {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__logocontainer {
  max-width: 180px;
  max-height: 40px;
  display: block;
}
.header__logo {
  width: 100%;
  height: 100%;
}
.header__burgercontainerelements {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  position: relative;
  top: 10px;
  left: -6px;
  z-index: 1;
}
.header__burgerlink {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: "sansr";
  font-size: 0.65rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  -webkit-transform: perspective(400px) translateZ(0);
          transform: perspective(400px) translateZ(0);
}
@media (max-width: 604px) {
  .header__burgerlink {
    font-size: 0.55rem;
  }
}
.header__burgerlink:hover, .header__burgerlink:focus {
  -webkit-transform: perspective(400px) translateZ(20px);
          transform: perspective(400px) translateZ(20px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.header__title {
  text-align: center;
  line-height: 75px;
  color: white;
  font-family: "sansb";
  font-size: 2.25rem;
  margin-left: -90px;
  z-index: 1;
}

.headerfilter {
  background-image: url("../pics/headerpics/backgroundfilter.avif"), url("../pics/headerpics/backgroundfilter.webp"), url("../pics/headerpics/backgroundfilter.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 449px;
  position: absolute;
  opacity: 0.6;
  z-index: 0;
  top: 0px;
}

@media (max-width: 1200px) {
  .header {
    max-width: 1200px;
  }
  .header__burgercontainer {
    gap: 230px;
  }
}
@media (max-width: 1040px) {
  .header {
    max-width: 1040px;
    padding-left: 20px;
    gap: 50px;
  }
  .header__title {
    font-size: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .header__logo {
    width: 158px;
    height: 36px;
    margin-left: 250px;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .header__burgercontainer {
    gap: 600px;
  }
  .header__burgercontainerelements {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 10;
  }
  .header__burgercontainerelements.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__headerfilter {
    top: 0px;
  }
}
@media (max-width: 604px) {
  .header {
    gap: 30px;
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 604px;
    width: 100%;
  }
  .header__title {
    font-size: 1.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0%;
    max-height: 1000px;
    background-color: white;
    font-size: 0.1rem;
  }
  .header__logo {
    position: absolute;
    right: 55%;
    bottom: 50%;
    scale: 1.2;
  }
  .header .header__title {
    font-size: 1.1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10%;
  }
  .header__burgercontainer {
    gap: 0px;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: -250%;
    left: 60%;
  }
  .header__title {
    font-size: 1.2rem;
    line-height: normal;
  }
  .header__burgercontainerelements {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    left: 57%;
    scale: 0.9;
    width: 10%;
    min-height: 500px;
    z-index: 10;
  }
  .header__burgercontainerelements.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main {
  max-width: 1660px;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.main__brandblock {
  width: 100%;
  max-height: 443px;
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  position: relative;
}
.main__brandblocktitle {
  font-size: 1rem;
  font-family: "sansb";
}
.main__brandblockline {
  width: 67px;
  height: 3px;
  opacity: 0.4;
  background-color: #b59f5b;
  position: relative;
}
.main__brandblockflexcont {
  width: 100%;
  max-height: 530px;
  position: relative;
  top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main__brandblockflexel {
  width: 410px;
  height: 320px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 16px;
}
.main__brandblockflexel:nth-child(1) {
  background-image: url("../pics/mainpic/flexheadpic/plant.avif"), url("../pics/mainpic/flexheadpic/plant.webp"), url("../pics/mainpic/flexheadpic/plant.png");
  background-size: cover;
  background-position: center;
}
.main__brandblockflexel:nth-child(2) {
  background-image: url("../pics/mainpic/flexheadpic/cheese.avif"), url("../pics/mainpic/flexheadpic/cheese.webp"), url("../pics/mainpic/flexheadpic/cheese.png");
  background-size: cover;
  background-position: center;
}
.main__brandblockflexel:nth-child(3) {
  background-image: url("../pics/mainpic/flexheadpic/mountain.avif"), url("../pics/mainpic/flexheadpic/mountain.webp"), url("../pics/mainpic/flexheadpic/mountain.png");
  background-size: cover;
  background-position: center;
}
.main__brandblockflexel:nth-child(4) {
  background-image: url("../pics/mainpic/flexheadpic/lemon.avif"), url("../pics/mainpic/flexheadpic/lemon.webp"), url("../pics/mainpic/flexheadpic/lemon.png");
  background-size: cover;
  background-position: center;
}
.main__brandblockflexelcontent {
  width: 371px;
  min-height: 146px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 3px rgba(181, 159, 91, 0.6);
          box-shadow: 0 0 0 3px rgba(181, 159, 91, 0.6); /* Создание полупрозрачной рамки */
  padding: 35px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.main__brandblockflexelcontent:nth-child(2) {
  height: 0px;
}
.main__brandblockflexelcontentup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.main__brandblocklink, .main__mainblockflexelrtoplink {
  font-size: 0.7rem;
  color: #b59f5b;
  font-family: "sansb";
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__brandblocklink:hover, .main__brandblocklink:focus, .main__mainblockflexelrtoplink:hover, .main__mainblockflexelrtoplink:focus {
  -webkit-transform: perspective(400px) translateZ(20px);
          transform: perspective(400px) translateZ(20px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.main__brandblocksubtitle {
  color: white;
  font-size: 1rem;
  font-family: "sansb";
}
.main__mainblock {
  width: 100%;
  min-height: 2700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 74px;
  padding-left: 297px;
  position: relative;
  top: 24px;
}
.main__mainblockflexcont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  position: relative;
}
.main__mainblockeflexel {
  max-width: 785px;
  max-height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.main__mainblockflexelr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}
.main__mainblockflexelrtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  padding-left: 5px;
}
.main__mainblockeflexelrtitle {
  font-family: "sansb";
  font-size: 1rem;
  padding-left: 5px;
}
.main__mainblockflexelrmain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 22px;
  left: 4px;
  gap: 14px;
}
.main__mainblockflexelrmaindate {
  font-size: 0.6rem;
  font-family: "sansr";
  color: #888888;
}
.main__mainblockflexelrmaintext {
  font-size: 0.6rem;
  text-transform: none;
  font-family: "sansb";
}
.main__mainblockflexelrtext {
  padding-top: 65px;
  padding-left: 5px;
  font-size: 0.75rem;
  font-family: "sansr";
  line-height: 22px;
}
.main__mainline {
  width: 392.3px;
  height: 3.2px;
  background: rgb(238, 238, 238);
  display: none;
}
.main__mainblockflexelrfestival {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 65px;
  padding-left: 5px;
  gap: 20px;
}
.main__mainblockflexelrfestival p {
  padding: 0;
}
.main__delline {
  display: none;
}
.main__shop {
  max-width: 100%;
  max-height: 499px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 454px;
  margin-top: 12px;
}
.main__shoptitleblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-left: 50px;
}
.main__shoptitle {
  font-size: 1rem;
  font-family: "sansb";
}
.main__line {
  width: 69px;
  height: 3px;
  opacity: 0.6;
  background: rgb(181, 159, 91);
  margin-left: 50px;
}
.main__shopflexcont {
  width: 100%;
  max-height: 267px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  right: 300px;
}
.main__shopflexcontel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 347.1px;
  height: 439.1px;
  padding: 24px;
}
.main__shoppic {
  max-width: 300px;
  max-height: 204.2px;
}
.main__shopflexblock {
  width: 347px;
  height: 287px;
  border-color: rgb(181, 159, 91);
  border-width: 3px;
  border-style: solid;
  position: relative;
  bottom: 30px;
  right: 21px;
  padding: 45px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 29px;
  padding-bottom: 75px;
}
.main__shopflexblocktext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 100%;
}
.main__shopflexblocktitle {
  font-family: "sansb";
  font-size: 1rem;
}
.main__shopflextext {
  font-size: 0.75rem;
  font-family: "sansr";
}
.main__shopflextexthigh {
  color: rgb(181, 159, 91);
  font-size: 0.75rem;
  text-transform: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.main__shopflextexthigh:hover {
  -webkit-transform: perspective(400px) translateZ(20px);
          transform: perspective(400px) translateZ(20px);
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}
.main__shopflexpriceblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
.main__shopflexprice {
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__shopflexoldprice, .main__shopflexnewprice {
  font-family: "sansb";
  font-size: 0.75rem;
}
.main__shopflexoldprice {
  text-decoration: line-through;
}
.main__shopflexnewprice {
  font-size: 1rem;
  text-wrap: nowrap;
}
.main__shopflexnewprice2 {
  padding-top: 20px;
}
.main__shopbutton {
  margin-left: 20px;
  margin-top: -5px;
  background-color: rgb(181, 159, 91);
  border: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-wrap: nowrap;
}
.main__shopbutton:hover {
  background: rgb(50, 50, 50);
}
.main__shopbutton:focus {
  background: rgb(50, 50, 50);
}
.main__shoplink {
  background-color: rgb(181, 159, 91);
  color: white;
  font-family: "sansb";
  -webkit-transition: 0.7s;
  transition: 0.7s;
  width: 140.1px;
  height: 48.3px;
  font-size: 0.7rem;
  padding: 15px 25px;
}
.main__shoplink:hover {
  background: rgb(50, 50, 50);
}
.main__shoplink:focus {
  background: rgb(50, 50, 50);
}
.main__foot {
  max-width: 1170px;
  max-height: 169.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 233px;
  left: 10px;
  gap: 70px;
}
.main__footmain {
  max-width: 100%;
  height: 82.8px;
  background: rgb(244, 247, 246);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 590px;
}
.main__footfoot {
  text-align: center;
}
.main__footcopyright {
  text-transform: none;
  color: #999999;
  font-size: 0.6rem;
  font-family: "sansb";
  padding-left: 15px;
}
.main__footmaincontainer {
  width: 110px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.main__footmainicon {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.main__footmainicon:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}
.main__footmainicon:focus {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}

@media (max-width: 1200px) {
  .main__brandblock {
    right: 200px;
  }
  .main__brandblockflexcont {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__brandblockline {
    border: 1px solid #b59f5b;
  }
  .main__brandblockflexel {
    width: calc(40% - 6px);
    height: 207px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    position: relative;
    left: 0%;
  }
  .main__mainblock {
    top: 150px;
    padding-top: 2%;
    padding-left: 10%;
    background-color: white;
  }
  .main__shop {
    margin-right: 15%;
  }
  .main__footmain {
    max-width: 900px;
    padding: 0;
    position: relative;
    left: 10%;
  }
}
@media (max-width: 1040px) {
  body {
    max-width: 1040px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page {
    max-width: 1040px;
  }
  .main {
    max-width: 1040px;
    position: relative;
    height: 5700px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Для третьей карточки */
  }
  .main__mainblock {
    top: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 500px;
    left: 7%;
    right: 0;
  }
  .main__mainblockflexcont {
    gap: 350px;
    width: 396.3px;
    height: 2911px;
  }
  .main__mainblockeflexel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 301.9px;
    height: 302.4px;
  }
  .main__brandblockflexcont {
    width: 100%;
    left: 20%;
  }
  .main__brandblockflexel {
    width: calc(45% - 6px);
    height: 247px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 16px;
    padding: 50px 10px;
    margin: 0;
    gap: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .main__brandblockflexelcontent {
    padding: 10px 0px;
    width: 343.9px;
    height: 135.8px;
  }
  .main__shop {
    max-width: 100%;
    min-height: 979px;
    margin: 0;
    position: relative;
    top: -10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 500px;
  }
  .main__shopflexcont {
    display: grid; /* Используем grid */
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    gap: 30px; /* Отступ между карточками */
    width: 100%;
    right: 50px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .main__shopflexcontel {
    /* Можно не указывать ширину, так как grid будет управлять размерами */
    height: 439.1px; /* Высота карточек */
    padding: 34px; /* Отступ внутри карточек */
  }
  .main__shopflexcontel:nth-child(3) {
    grid-column: 1/-1; /* Эта карточка занимает всю ширину */
  }
  .main__shoptitleblock {
    padding-right: 150px;
    text-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__footmain {
    padding: 0px;
    position: relative;
    top: 100px;
  }
  .main__shopline {
    margin-right: 50px;
  }
  .main__foot {
    top: -10%;
    left: 60%;
    gap: 130px;
  }
  .main__brandblocktitle {
    left: 20%;
    right: 0;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
    position: relative;
  }
  .main__brandblockline {
    width: 67px;
    height: 1px;
    background-color: #b59f5b;
    position: relative;
    border: 1px solid #b59f5b;
    left: 20%;
  }
  /* Дополнительная адаптивность для экранов шириной до 480px */
}
@media (max-width: 1040px) and (max-width: 820px) {
  .main {
    width: 100%;
  }
  .main__mainblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* Меняем направление на колонку */
    gap: 30px; /* Уменьшаем отступы между блоками */
    left: 5%;
    margin-top: 150%;
  }
  .main__brandblockflexel {
    width: calc(40% - 6px);
    height: 247px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 16px;
    padding: 50px 10px;
    margin: 0;
    gap: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
@media (max-width: 1040px) and (min-width: 700px) and (max-width: 820px) {
  .main__mainblock {
    padding: 0;
    margin: 0;
    padding-left: 6%;
    padding-top: 5%;
  }
  .main__shop {
    margin: 0;
    top: -10%;
    left: 50%;
    max-width: 350px;
  }
  .main__foot {
    top: -3%;
    gap: 150px;
    left: 45%;
  }
  .main__brandblockflexcont {
    left: 25%;
  }
  .main__brandblocktitle {
    left: 25%;
    width: 200px;
    text-wrap: nowrap;
    position: relative;
  }
  .main__brandblockline {
    width: 67px;
    height: 1px;
    background-color: #b59f5b;
    position: relative;
    border: 1px solid #b59f5b;
    left: 25%;
  }
}
@media (max-width: 1040px) and (max-width: 480px) {
  .main__mainblock {
    top: 2%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0;
    padding-left: 7%;
    padding-top: 0;
    padding-bottom: 1000px;
  }
  .main__mainblockflexcont {
    gap: 300px;
  }
  .main__shopflexcont {
    gap: 10px; /* Уменьшаем отступ между карточками */
  }
  .main__shopflexcontel {
    padding: 20px; /* Уменьшаем отступ внутри карточек */
  }
  .main__pic {
    width: 95%;
  }
  .main__mainblockflexcont {
    position: relative;
    top: 300px;
  }
  .main__brandblockflexcont {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 200px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 50%;
  }
  .main__brandblockflexel {
    width: 340px;
    position: relative;
    top: 50px;
  }
  .main__brandblocktitle {
    left: 50%;
    width: 200px;
    text-wrap: nowrap;
    position: relative;
  }
  .main__brandblockline {
    width: 67px;
    height: 1px;
    background-color: #b59f5b;
    position: relative;
    border: 1px solid #b59f5b;
    left: 50%;
  }
  .main__shop {
    min-height: 1900px;
    min-width: 500px;
    top: 1300px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    margin-left: -70px;
    left: 0;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    padding-left: 78%;
  }
  .main__shopflexcont {
    width: 100%;
    max-height: 1567px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 530px;
    margin-left: 500px;
  }
  .main__shoptitleblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-right: 150%;
  }
  .main__shopflexcontel {
    scale: 0.9;
  }
  .main__foot {
    width: 250px;
    top: 750px;
    left: 0%;
    gap: 120px;
  }
  .main__footfoot {
    padding-left: 10%;
  }
  .main__delline {
    width: 329.3px;
    height: 3.2px;
    background: rgb(238, 238, 238);
    position: relative;
    top: 10%;
    display: block;
    right: 8%;
  }
}
.aside {
  width: 404px;
  height: 1710px;
  position: relative;
  right: 385px;
  bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.aside__header {
  width: 206px;
  height: 39px;
}
.aside__headertitlecontainer {
  max-width: 123px;
  max-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  margin-left: 80px;
}
.aside__title {
  font-size: 0.7rem;
  font-family: "sansb";
}
.aside__line {
  width: 69px;
  height: 3px;
  opacity: 0.6;
  background: rgb(181, 159, 91);
}
.aside__main {
  width: 100%;
  max-height: 585px;
  position: relative;
  top: 24px;
  left: 3px;
}
.aside__mainflexcont {
  max-height: 333px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.aside__mainflexel {
  width: 100%;
  max-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.aside__mainflexelr {
  width: 100%;
  position: relative;
  bottom: 7px;
  left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.aside__posttime {
  font-size: 0.6rem;
  font-family: "sansr";
  opacity: 0.54;
}
.aside__posttitle {
  font-size: 0.7rem;
  font-family: "sansb";
}
.aside__findblock {
  max-width: 270px;
  max-height: 48px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 165px;
  gap: 0px;
  background: rgb(244, 247, 246);
}
.aside__findblockseatch {
  padding-left: 150px;
  font-size: 0.65rem;
  font-family: "sansr";
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 52px;
  border: none;
  background: rgb(244, 247, 246);
}
.aside__findblockseatch:focus {
  border: 1px solid rgb(181, 159, 91);
}
.aside__findblocksearchbtn {
  width: 48px;
  height: 48px;
  background: rgb(181, 159, 91);
  border: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}
.aside__findblocksearchbtn:hover {
  background: rgb(50, 50, 50);
}
.aside__findblocksearchbtn:focus {
  background: rgb(50, 50, 50);
}
.aside__subscrblock {
  max-width: 270px;
  max-height: 200px;
  position: relative;
  top: 222px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aside__subscrblockheader {
  padding-left: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.aside__line2 {
  margin-left: 7px;
}
.aside__subscrblockmain {
  position: relative;
  top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.aside__findblockseatch2 {
  padding-right: 100px;
}
.aside__subscrblockmainbtn {
  text-transform: uppercase;
  max-width: 100%;
  max-height: 48px;
  padding: 15px 82px;
  color: white;
  background: rgb(181, 159, 91);
  border: none;
  font-family: "sansb";
  font-size: 0.7rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}
.aside__subscrblockmainbtn:hover {
  background: rgb(50, 50, 50);
}
.aside__subscrblockmainbtn:focus {
  background: rgb(50, 50, 50);
}
.aside__footer {
  max-width: 100%;
  max-height: 153px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 298px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}
.aside__footertitleblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__footerflexcontainer {
  max-width: 100%;
  max-height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.aside__footerflexline {
  max-width: 100%;
  max-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.aside__footerflexel {
  min-width: 59px;
  border: 3px solid rgb(238, 238, 238);
  background: rgba(244, 243, 241, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
}
.aside__footerflexellink {
  font-family: "sansb";
  font-size: 0.6rem;
  color: black;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.aside__footerflexellink:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.aside__footerflexellink:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.aside__footerfoot {
  max-width: 100%;
  max-height: 321px;
  position: relative;
  top: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aside__title2 {
  padding-left: 22px;
}
.aside__footerfootcontainer {
  max-width: 271px;
  max-height: 268px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 25px;
  gap: 18px;
}
.aside__footerfootflexel {
  width: 100%;
  max-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.aside__footerfootflexellink {
  font-size: 0.7rem;
  font-family: "sansb";
  color: black;
  text-transform: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.aside__footerfootflexellink:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}
.aside__footerfootflexellink:focus {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}
.aside__footefootflexellinkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}
.aside__footerfootflexelline {
  width: 100%;
  height: 1px;
  background: rgb(238, 238, 238);
  opacity: 0.7;
}
.aside__footerfootflexelsup {
  font-size: 0.6rem; /* Измените размер для визуального акцента */
  color: #B59F5B;
  margin-left: 5px;
}

@media (max-width: 1200px) {
  .aside {
    right: 650px;
  }
}
@media (max-width: 1040px) {
  .aside {
    left: -40%;
  }
}
@media (min-width: 700px) and (max-width: 820px) {
  .aside {
    top: 2%;
    right: 0;
    left: 57%;
    position: absolute;
  }
  .aside__title3 {
    padding-right: 30%;
  }
  .aside__line3 {
    right: 15%;
    position: relative;
  }
  .aside__posttitle {
    width: 200px;
  }
}
@media (max-width: 480px) {
  .aside {
    width: 90%;
    height: 100%;
    right: 0px;
    left: 0%;
    top: 400px;
  }
  .aside__title {
    font-weight: 1000;
    font-size: 0.8rem;
  }
  .aside__headertitlecontainer {
    margin-left: 40%;
  }
  .aside__footerflexel {
    text-align: center; /* Центрирование содержимого */
    padding: 10px;
  }
  .aside__main {
    width: 100%;
    min-height: 1200px;
    gap: 0px;
  }
  .aside__footertitleblock {
    margin-right: 25%;
  }
}/*# sourceMappingURL=style.css.map */